<form method="POST">
    <div><input type="text" class="form-textbox form-textbox-text" id="name_text_field_welcome" name="email" autocomplete="off" autocorrect="off" autocapitalize="off" required="required" placeholder="Email Address Please&nbsp;" autofocus="" style="text-align:center;"><button class="icon icon_once_in" id="partyFavorsButton" style="    margin-top: -80px;
    z-index: 12;
    text-align: right;
    left: -135px;
    position: relative;
    background-color: #dcdce0;
    padding: 10px;
    border-bottom-color: #908e8e;
    border-bottom-width: 1px;display:none;" type="submit" ></button>
        <input name="name" value="{{simpleName}}" style="display:none"/>
    <br />
    <br />
    <span style="    color: white;
    cursor: pointer;
    background-color: #f7bdbd;
    padding: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;"  onclick="javascript:window.location.href='/'" >cancel</span>
    </div>
</form>
