<form method="POST">
    <div><input type="text" class="form-textbox form-textbox-text" id="name_text_field_welcome" name="name" autocomplete="off" autocorrect="off" autocapitalize="off" required="required" placeholder="Your Name Please&nbsp;" autofocus=""><button class="icon icon_once_in" id="partyFavorsButton" style="    margin-top: -80px;
    z-index: 12;
    text-align: right;
    left: 135px;
    position: relative;
    background-color: #dcdce0;
    padding: 10px;
    border-bottom-color: #908e8e;
    border-bottom-width: 1px;display:none;" type="submit" ></button>

    <br>
    </div>
</form>