<form method="POST" action="/api/ambassadors/create">
    <div>
      <input type="text" autocomplete="off" name="username" id="name_username_field_welcome"  class="form-textbox form-textbox-text" style="text-align:center;" placeholder="Username"  >
<br />
      <input type="password" class="form-textbox form-textbox-text" id="name_password_field_welcome" name="password" autocomplete="off" autocorrect="off" autocapitalize="off" required="required" placeholder="Password" autofocus="" style="text-align:center;display:none;"><button class="icon icon_once_in" id="partyFavorsButton" style="    margin-top: -80px;
    z-index: 12;
    text-align: right;
    left: 135px;
    position: relative;
    background-color: #dcdce0;
    padding: 10px;
    border-bottom-color: #908e8e;
    border-bottom-width: 1px;display:none;" type="submit" ></button>
    <br />
    <br />
    <span style="    color: white;
    cursor: pointer;
    background-color: #f7bdbd;
    padding: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;"  onclick="javascript:window.location.href='/'" >cancel</span>
    <br />
    <br />
    <br />

    <span id="displayPassword" style="    text-transform: none;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: small;
    color: #848484;" /></span>

    </div>
</form>
